{% autoescape off %}
Dear Valued User,
--
A password reset request was recently submitted for your MindMetrics account. To securely update your credentials, 

please follow the instructions below:

Click the link below to proceed with resetting your password. This link will expire shortly for security purposes.
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

--
Registered username: {{ user.get_username }}

--
If you did not initiate this request, disregard this email immediately. Unauthorized access attempts should be reported to our support team.

For assistance, contact our support team at [support@mindmetrics.com] or visit our [Help Center].

Thank you for prioritizing your account security.

--
Best regards,
The MindMetrics Team
―
MindMetrics © {% now "Y" %} | [Privacy Policy] | [Terms of Service]
Stay informed. Stay secure.

{% endautoescape %}